
<hmtl>
  <body>
    {% block body %}
    <div align="center"; style="font-size:50px;">{{ date }}</div>
    <br>
    <div align="center"; style="font-size:50px;">{{ today }}</div>
    {% endblock %}
    {% block javascripts %}{% endblock %}
  </body>
</hmtl>
