{% extends 'base.html.twig' %}

{% block title %}Hello GuessMyNumberController!{% endblock %}

{% block body %}
<html>

    <head>
        <title>Ghiceste</title>
    </head>
    <body>
    <h1>{{message}}</h1>
        <form action="" method="POST">
        <p><strong>Introdu numarul aici</strong>
            <input type="text" name="num"></p>
            <input type="hidden" name="numtobeguessed" 
            {{ app.request.parameter.get("num") }} ></p>
    <p><input type="submit" value="Ghiceste"/></p>
        </form>
    </body>
</html>
{% endblock %}