{% extends 'base.html.twig' %}

{% block title %}Hello GuessMyNumberController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Marius Nastasa/Desktop/Folder facultate/Anul II/Semestrul II/Tehnologii si aplicatii Web/curs-19-env/curs-19-env/src/Controller/GuessMyNumberController.php'|file_link(0) }}">src/Controller/GuessMyNumberController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Marius Nastasa/Desktop/Folder facultate/Anul II/Semestrul II/Tehnologii si aplicatii Web/curs-19-env/curs-19-env/templates/guess_my_number/index.html.twig'|file_link(0) }}">templates/guess_my_number/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
